
/* ================================= 
  Base Element Styles
==================================== */

.widget-container-full img,
.widget-container-half img,
.social-image img,
.bell-icon,
nav a img {
    height: 100px;
}

html {
    margin: 0;
    box-sizing: border-box;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    'header',
    'nav',
    'main';
}

/* ---- Icon styles ---- */

.bell-icon {
    fill: black;
}

/* ---- Heading ---- */

header {
    grid-area: header;
    background-color: blue;
}

/* ---- Nav ---- */

nav {
    grid-area: nav;
    background-color: purple;
}

/* ---- Main ---- */

main {
    grid-area: main;
    background-color: #fff;
}

/* ---- Form---- */


/* ================================= 
  Media Queries 768px
==================================== */

/* ================================= 
  Media Queries 1024px
==================================== */

/* ---- Layout Containers ---- */

.grid-container {
    grid-template-areas: 
    'header', 'header'
    'nav', 'main'
    'nav', 'main';
}