
/* ================================= 
  Base Element Styles
==================================== */

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: inline-block;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Heading ---- */

header {
    background: blue;
    height: 100px;
}

.bell-icon svg {
    fill: #000;
    width: 20px;
    display: inline-block;
}

header img {
    width: 35px;
    border-radius: 50%;
    display: inline-block;
}

/* ---- Layout Containers ---- */


/* ---- Form---- */


/* ---- footer---- */


/* ================================= 
  Media Queries 768px
==================================== */
